
#logo {
	height: 138px;
	background-color: #fdfbf7;
}
#logo img{
	width: 7.5%;
	margin: auto;
	display: block;
}
/*css phần navbar*/
#menu .navbar-default .navbar-toggle{
	border: 2px solid #346879;
	border-radius: 0px;
	padding: 19px 5px;
	margin-top: 25px;
}
#menu .navbar-default{
	background-color: #e2f3fb;
	border: none;
	margin-bottom: 0px;
}
#menu .navbar {
	border-radius: 0px;
	height: 95px;
}
#menu .navbar ul li{
	float: left;
	left: 100px;
	list-style-type: none;
	line-height: 100px;
	border-radius: 0%;
	color: #346879;
	margin-left: -24px;
}
#menu .navbar ul li:hover a{
	text-decoration: underline;
}
#menu .navbar ul li a{
	color: #346879;
	font-size: 18px;
	font-family: UTM Neo Sans Intel;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 20px;
}
#menu .nav>li>a {
	padding: 15px 35px;
}
#menu .navbar ul li a {
	text-align: center;
}
#menu .navbar-inverse .navbar-nav>li>a{
	color: #346879;
}
#menu .navbar-inverse .navbar-nav>li>a:hover{
	color: #346879;
}
#menu .form-control{
	border-radius: 0px;
	border: 2px solid #346879;
	height: 40px;
	width: 200px;
	padding: 6px 15px;
	background-color: #e2f3fb;
	margin-top: 17px;
	margin-left: 90px;
}
#menu .btn-default{
	border: 2px solid #346879;
	background-color: #e2f3fb;
	border-radius: 0px;
	height: 40px;
	margin-top: 17px;
	margin-left: -14px;
	border-left: none;
}
#menu .input-group-btn button:hover{
	background-color: #e2f3fb;
}
#menu span {
	width: 30px;
	float: right;
	margin-top: 3px;
	color:  #346879;
}
#menu span:hover{
	background-color: #e2f3fb;
}
/*css phần text*/
#text {
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #fdfbf7;
}
#text h1{
	margin-top: 80px;
	font-family: SVN-Wallows; 
	font-size: 60px; 
	color: #346879;
}	

/*css phần ảnh*/
#chitietdv {
	padding: 30px 0px;
	background-color: #fdfbf7;
}
#chitietdv .caption1 {
	width: 577px;
	height: 1446px;
	background-color: #e2f3fb;
}
#chitietdv .item {
	margin-top: -1310px;
}
#chitietdv .item h3 {
	margin-top: -5px;
	font-family: UTM Neo Sans Intel; 
	font-size: 30px;
	text-transform: uppercase;
	color: #346879;
	text-align: center;
}
#chitietdv .item h5 {
	font-family: UTM Neo Sans Intel; 
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #346879;
}
#chitietdv .item p {
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
	color: black;
	margin-left: 30px;
	margin-top: 20px;
}
#chitietdv .item1 {
	padding-top: 130px;
}
#chitietdv .item1 h3 {
	margin-top: -27px;
	font-family: UTM Neo Sans Intel; 
	font-size: 30px;
	text-transform: uppercase;
	color: #346879;
	text-align: center;
}
#chitietdv .item1 h5 {
	font-family: UTM Neo Sans Intel; 
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #346879;
}
#chitietdv .item1 p {
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
	color: black;
	margin-left: 30px;
	margin-top: 20px;
}
#chitietdv .item2 {
	padding-top: 130px;
}
#chitietdv .item2 h3 {
	margin-top: -27px;
	font-family: UTM Neo Sans Intel; 
	font-size: 30px;
	text-transform: uppercase;
	color: #346879;
	text-align: center;
}
#chitietdv .item2 h5 {
	font-family: UTM Neo Sans Intel; 
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #346879;
}
#chitietdv .item2 p {
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
	color: black;
	margin-left: 30px;
	margin-top: 20px;
}
#chitietdv button {
	margin-left: 30px;
	margin-top: 10px;
	width: 148px;
	height: 35px;
	border: 2px solid #346879;
	background-color: #fdfbf7;
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
}
#chitietdv button:hover{
	background-color: #346879;
	color:white;
}

/*css phần ảnh1*/
#anh1{
	padding: 90px 0px;
	background-color: #fdfbf7;
}
#anh1 .caption2 {
	width: 577px;
	height: 1446px;
	background-color: #e2f3fb;
	margin-left: 942px;
}
#anh1 .item {
	margin-top: -1310px;
}
#anh1 .item h3 {
	margin-top: -25px;
	font-family: UTM Neo Sans Intel; 
	font-size: 30px;
	text-transform: uppercase;
	color: #346879;
	text-align: center;
}
#anh1 .item h5 {
	font-family: UTM Neo Sans Intel; 
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #346879;
}
#anh1 .item p {
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
	color: black;
	margin-left: 30px;
	margin-top: 20px;
}
#anh1 .item1 {
	padding-top: 130px;
}
#anh1 .item1 h3 {
	margin-top: -20px;
	font-family: UTM Neo Sans Intel; 
	font-size: 30px;
	text-transform: uppercase;
	color: #346879;
	text-align: center;
}
#anh1 .item1 h5 {
	font-family: UTM Neo Sans Intel; 
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #346879;
}
#anh1 .item1 p {
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
	color: black;
	margin-left: 30px;
	margin-top: 20px;
}
#anh1 .item2 {
	padding-top: 130px;
}
#anh1 .item2 h3 {
	margin-top: -60px;
	font-family: UTM Neo Sans Intel; 
	font-size: 30px;
	text-transform: uppercase;
	color: #346879;
	text-align: center;
}
#anh1 .item2 h5 {
	font-family: UTM Neo Sans Intel; 
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #346879;
}
#anh1 .item2 p {
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
	color: black;
	margin-left: 30px;
	margin-top: 20px;
}
#anh1 button {
	margin-left: 30px;
	margin-top: 10px;
	width: 148px;
	height: 35px;
	border: 2px solid #346879;
	background-color: #fdfbf7;
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
}
#anh1 button:hover{
    background-color: #346879;
	color:white;
}
/*css phần ảnh 2*/
#anh2{
	padding: 50px 0px;
	background-color: #fdfbf7;
}
#anh2 .caption {
	width: 1720px;
	height: 490px;
	background-color: #e2f3fb;
}
#anh2 .col-md-6 {
	margin-top: -310px;
}
#anh2 .col-md-6 h3 {
	margin-top: -65px;
	font-family: UTM Neo Sans Intel; 
	font-size: 30px;
	text-transform: uppercase;
	color: #346879;
	text-align: center;
}
#anh2 .col-md-6 h5 {
	font-family: UTM Neo Sans Intel; 
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #346879;
}
#anh2 .col-md-6 p {
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
	color: black;
	margin-top: 20px;
}
#anh2 button {
	margin-top: 10px;
	width: 148px;
	height: 35px;
	border: 2px solid #346879;
	background-color: #fdfbf7;
	font-family: UTM Neo Sans Intel; 
	font-size: 18px; 
}
#anh2 button:hover{
	background-color: #346879;
	color:white;
}
/*css phần ảnh 3*/
#anh3{
	padding: 50px 0px;
	background-color: #fdfbf7;
}
#anh3 .caption {
	width: 1720px;
	height: 490px;
	background-color: #e2f3fb;
}
#anh3 .col-md-6 {
	margin-top: -310px;
}
#anh3 .col-md-6 h3 {
	margin-top: -65px;
	font-family: UTM Neo Sans Intel; 
	font-size: 30px;
	text-transform: uppercase;
	color: #346879;
	text-align: center;
}
#anh3 .col-md-6 h5 {
	font-family: UTM Neo Sans Intel; 
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #346879;
}
#anh3 .col-md-6 p {
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
	color: black;
	margin-top: 20px;
}
#anh3 button {
	margin-top: 10px;
	width: 148px;
	height: 35px;
	border: 2px solid #346879;
	background-color: #fdfbf7;
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
}
#anh3 button:hover{
	background-color: #346879;
	color:white;
}
/*css phần ảnh 4*/
#anh4{
	padding: 50px 0px;
	padding-bottom: 90px;
	background-color: #fdfbf7;
}
#anh4 .caption {
	width: 1720px;
	height: 490px;
	background-color: #e2f3fb;
	margin-top: 130px;
}
#anh4 .col-md-6 {
	margin-top: -310px;
}
#anh4 .col-md-6 h3 {
	margin-top: 45px;
	font-family: UTM Neo Sans Intel; 
	font-size: 30px;
	text-transform: uppercase;
	color: #346879;
	text-align: center;
}
#anh4 .col-md-6 h5 {
	font-family: UTM Neo Sans Intel; 
	text-align: center;
	font-size: 18px;
	text-transform: uppercase;
	color: #346879;
}
#anh4 .col-md-6 p {
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
	color: black;
	margin-top: 70px;
}
#anh4 button {
	margin-top: 10px;
	width: 148px;
	height: 35px;
	border: 2px solid #346879;
	background-color: #fdfbf7;
	font-family: UTM Neo Sans Intel; 
	font-size: 18px;
}
#anh4 button:hover{
	background-color: #346879;
	color:white;
}
/*css phần cuối trang*/
#footer{
	width: 100%;
	height: 250px;
	background-color: #e2f3fb;
}
#footer p {
	margin-top: 20px;
	font-family: UTM Neo Sans Intel;
	color: #306176;
	font-size: 18px;
	text-align: center;
}